#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
nimcache/
[Dd]ebugPublic/
[Rr]elease/
x64/
bld/
[Oo]bj/
.metadata/
bin/
obj/
**/packages/**/*.xml
Binaries/
*.sln.ide/
_Chutzpah.*.html
**/packages/**/*.xml
**/packages/**/*.XML
**/Binaries
packages/
**/node_modules/*
**/node_modules/*
**/node_modules/*
**/bower_components/*

project.lock.json
